html {
    background: url(images/vuotchuongngaivatmain.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

body {
    font-family: sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
    overflow:hidden;
    margin: 0 0 0 0;
}

.container {
    display: block;
    position: absolute;
    width: 98%;
    height: 96%;
    background-color: transparent;
    color: white;
    margin: 15px 15px 15px 15px;
}

.container>.row_correct_answer {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    background-color: transparent; /*Always*/
}

.container>.row_correct_answer>.correct_answer {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: transparent; /*Always*/
}

.container>.row_correct_answer>.correct_answer>.lettercell {
    position: relative;
    font-weight: 400;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 36px;

    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 5px;

    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff0f5; /*Default value*/
    color: transparent; /*Default value*/

    /*Circle letter*/
    border-radius: 50%;
    border: 1px solid transparent;
    /*****/
}
.container>.row_correct_answer>.question_id{

}

/*Button(href) to show question_id*/
.button {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    right: 0;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    font-weight	: 600;
    text-decoration: none;
    /*Text Shadow*/

    border: none;
    cursor: pointer;
}

.button.buttonNext{
    background-color: #3F51B5;
    color: #FF9800;
}

.button.buttonNext:hover {

    background-color: #1A237E;
    text-decoration: none;
}



.button.buttonQuestion_list{
    position: absolute;
    left: 0;
    background-color: #CDDC39;
}


/*Play music button*/
.divPlayButton {
    width: 5%;
    height: 10%;
    background-color: transparent;/*always*/
    position: absolute;
    bottom: 0;
    right: 0;
}
.play-button {
    height: 40px;
    width: 65px;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
}

.play-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}


/*Row that show user's answer and time*/
.row_user_answer {
    position: relative;
    float: left;
    display: block;
    width: calc(100% - 40px);/*100%- margin*/
    height: 60px;
    margin: 20px 20px 20px 20px;
    background-color: transparent; /*Always*/
}
.user_name {
    position: relative;
    display: inline-block;
    float: left;
    width:200px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 36px;
    background-color: #474747;
    text-shadow: #fff 0 0 10px;
    text-align: center;

    vertical-align: middle;

}
.user_answer_time{
    position: relative;
    display: inline-block;
    float: left;
    width:120px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 36px;
    background-color: #090280;
    text-shadow: #fff 0 0 10px;
    text-align: center;

    vertical-align: middle;

}

.user_answer {
    position: relative;
    display: inline-block;
    width: calc(100% - 350px);
    height: 60px;
    line-height: 60px;
    color: #801f03;
    font-weight: 900;
    font-size: 36px;
    background-color: #f9ffe5;
    text-shadow: #fff 0 0 10px;
    text-align: left;
    padding-left: 30px;


    vertical-align: middle;

}
/*question.php question_area* includes question and countdown clock*/
.question_area{
    width: 100%;
    height:250px;
    background-color: transparent;/*always*/
    position: absolute;
    bottom: 0;
}
.question_text_area{
    width: calc(100% - 280px);
    height:230px;
    position: absolute;
    bottom: 0;
    display: block;
    margin-left: 30px;

    padding: 10px 10px 10px 10px;
    font-size: 36px;
    font-weight: 300;

    /*Text effect */
    color: white; /*default value*/
    background-color: #232323;
}

.question_countdown_clock_area{
    display: inline-block;
    position: absolute;
    right:0;
    width:240px;
    height: 240px;
    line-height: 240px;
    text-align: center;

    font-size: 150px;

    /*circle*/
    border-radius: 50%;
    border: 1px solid transparent;

    /*text Neon*/
    color: #fff;
    background-color: #232323;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18
}

/*Group button in question_answer.php include xem cau hoi*/
.button_group_row {
    position: absolute;
    display: block;
    bottom: 250px;
    left: 30px;
    right: 230px;
    height: 50px;
    color: greenyellow;
}

/*Button normal like see answer, back*/
.buttonNormal {
    position: relative;
    width: 80px;
    height: 100%;
    border: none;
    color: white;
    text-align: center;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonNormal.button {
    position: relative;
    float: right;
    background-color: black;
    color: white;
}

.buttonNormal.button:hover {
    background-color: #0105af;
    color: white;
}

.buttonBack {
    position: relative;
    float: left;
    background-color: #807f75;
    color: white;
    display: none;
}

.buttonBack:hover {
    background-color: #f44336;
    color: white;
    display: inline-block;
}










