html {
    background: url(images/vuotchuongngaivatmain.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.container {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

.row_correct_answer {
    display: block;
    width: 100%;
    height: 60px;
    margin: 10px 0px 0px 0px;
    background-color: transparent; /*Always*/
}

.correct_answer {
    display: inline-block;
    width: 90%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: transparent; /*Always*/
}

.lettercell {
    font-weight: 400;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 36px;

    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 5px;

    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff0f5; /*Default value*/
    color: transparent; /*Default value*/

    /*Circle letter*/
    border-radius: 50%;
    padding: 0px;
    border: 1px solid transparent;
    /*****/
}

.buttonShowQuestion {
    display: inline-block;
    width: 50px;
    height: 50px;

    line-height: 50px;
    text-align: center;

    float: right;
    margin-right: 3%;

    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: Arial;
    color: rgb(255, 145, 145);
    font-size: 36px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;

    /*Text Shadow*/

    text-shadow: rgb(3, 3, 3) 4px 4px 4px;

}

.buttonShowQuestion:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.divPlayButton {
    width: 5%;
    height: 10%;
    background-color: transparent;
    margin-right: 3%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.questionIDSpan {
    width: 50px;
    height: 50px;
}

.play-button {
    height: 40px;
    width: 65px;
    background-color: transparent;
    border: 0px;
    border-radius: 5px;
    position: relative;
}

.play-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.row_user_answer {
    display: block;
    width: 90%;
    height: 60px;
    margin: 10px 7% 0px 3%;
    background-color: transparent; /*Always*/
}
.user_name {
    display: inline-block;
    float: left;
    width:15%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 36px;
    background-color: #474747;
    text-shadow: #fff 0 0 10px;
    text-align: center;

    vertical-align: middle;
    margin: 0px 0px 0px 0px;

}

.user_answer {
    display: inline-block;
    width:75%;
    height: 60px;
    line-height: 60px;
    color: #801f03;
    font-weight: 900;
    font-size: 36px;
    background-color: #f9ffe5;
    text-shadow: #fff 0 0 10px;
    text-align: left;


    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    padding-left: 20px;

}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.question_area{
    width: 100%;
    height:230px;
    background-color: transparent;
    position: fixed;
    bottom: 10px;
    margin-bottom: 10px;
}
.question_text_area{
    width: 75%;
    height:250px;
    position: relative;
    float: left;
    display: block;
    margin-left: 30px;

    padding: 10px 10px 10px 10px;
    font-size: 36px;
    font-weight: 300;

    /*Text effect */
    color: white; /*default value*/
    background-color: #232323;



}

.question_countdown_clock_area{
    display: inline-block;
    width:240px;
    height: 240px;
    line-height: 240px;
    text-align: center;

    font-size: 150px;

    /*circle*/
    border-radius: 50%;
    padding: 0px;
    border: 1px solid transparent;

    /*text Neon*/
    color: #fff;
    background-color: #232323;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18
}










